@namespace BombSurvival.UI

@if ( !Game.InGame )
{
    <div>No game. Error. We shouldn't be here.</div>
    return;
}

<root>
	<div class="background">
		<div class="text">Welcome to the [ESC] Menu.</div>
		<div class="text">Would you like to return to your pod or to exit Bomb Survival?</div>

		<div class="buttons">
			<div class="mybutton main" onclick=@(() => Game.Menu.Close())>
				Exit Game
			</div>

			@*TODO: Make it return to the pod instead.*@
			<div class="mybutton" onclick=@(() => ReturnToGame())>
				Return to Pod
			</div>
		</div>
	</div>
</root>

<style>

	ActivePage {
		pointer-events: all;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		font-family: Poppins-Bold;
		flex-direction: column;

		.background {
			width: 620px;
			height: 250px;
			background-image: url(ui/menu/esc_menu_background.png);
			background-size: 100%;
			flex-direction: column;
			
			.text {
				width: 100%;
				top: 20px;
				text-align: center;
				flex-direction: column;
			}

			.buttons {
				top: 50px;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				
			}

			.mybutton {
				height: 50px;
				padding: 5px 20px 10px 20px;
				background-size: 100%;
				background-image: url(ui/menu/rectangle_long_empty.png);
				text-align: center;
				margin-left: 50px;
				right: 25px;
				background-image-tint: rgba(white, 0.8);
				transition: all 0.4s ease-in-out;

				&.main {
					background-image: url(ui/menu/rectangle_long_full.png);
				}

				&:hover {
					transform: scale(1.2);
					background-image-tint: rgba(white, 1);
				}
			}
		}
	}
</style>

@code
{
    public void ReturnToGame()
    {
        Game.Menu.HideMenu();
    }

    public override void Tick()
    {
        base.Tick();

        if (!IsVisible)
            return;

        if ( !Game.InGame )
        {
            this.Navigate( "/" );
        }
    }
}
