
.gamemainmenu frontpage {
	justify-content: space-between;
	align-items: center;
	pointer-events: none;

	.logo {
		width: 700px;
		top: 80px;
		aspect-ratio: 2;
		background-image: url( "ui/LogoText.png" );
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	.controls {
		width: 100%;
		flex-direction: row;
		gap: 8px;
		justify-content: space-between;
		align-items: flex-end;

		.left {
			width: 20%;
			justify-content: flex-start;
		}

		.center {
			flex-direction: column;
			gap: 8px;
			align-items: center;
			justify-content: center;
			flex-grow: 1;
			bottom: 25px;
		}

		.right {
			width: 20%;
			justify-content: flex-end;
		}
	}
}
