@namespace BombSurvival.UI
@attribute [StyleSheet]

<root style="flex-direction: column;">

    <div class="logo"></div>
    <div class="controls">
        <div class="left">
            <a class="button_red_small" @onclick=@Game.Menu.Close>Exit</a>

        </div>
        <div class="center">

            @if (Game.InGame)
            {
                <a class="button" href="/active">Current Game</a>
                <a class="button" onclick=@LeaveGame>Leave Game</a>
                <span style="height: 20px;"></span>
            }
            else
            {
                <a class="button_white_medium" onclick="@CreateNewGame">Load your Pod</a>
            }

            <a class="button_white_medium" onclick="@OpenServerList">Join another Pod</a>
            <a class="button_white_medium" onclick="@OpenServerList">Settings</a>
        </div>
        <div class="right">
            <a class="button_blue_small" @onclick=@Game.Menu.Close>Discord</a>
        </div>

    </div>

</root>

@code
{
    void LoadSavedGame()
    {
        this.Navigate( "/load" );
    }

    void LeaveGame()
    {
        Game.Menu.LeaveServer("Leaving");
    }

    void CreateNewGame()
    {
        Game.Menu.StartServerAsync(8, $"{Game.UserName}'s Pod", "empty");
    }

    void OpenServerList()
    {
        var options = new Sandbox.Modals.ServerListModalOptions();
        options.TargetGame = Game.Menu.Package.FullIdent;
        options.OnSelected = (server) =>
        {
            Game.Menu.ConnectToServer(server.SteamId);
        };

        Game.Overlay.ShowServerList(options);
    }
}
